---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap');

html {
    font-size: 12px; // originally 16px
    @include breakpoint($medium) {
        font-size: 14px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 16px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
}

/* Site title (top-left corner) */
.site-title {
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
}

/* Headings (H1, H2, etc.) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* Body text */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul, ol {
    margin-bottom: 1em;
    margin-top: 1em;
    li {
        line-height: 1.5;
        margin-bottom: 0em;
        margin-top: 0em;
    }
}

.custom-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2200ff96; /* Blue */
  color: #fff !important;
  font-size: 0.85rem !important; /* Smaller text */
  text-decoration: none !important;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #1A252F;
  text-decoration: none !important;
}
